.buttons {
    margin-top: 30px;
}

.selpro-customer {
    margin-bottom: 15px;
}

.selcus-button {
    margin-right: 20px;
}

.selpro-input {
    display: inline-block;
    width: 100%;
    box-sizing: border-box;
    // border:solid 0px;
}

.selpro-table {
    width: 80%;
}

.selpro-th-name {
    width: 40%;
}

.selpro-th-price {
    width: 20%;
}

.selpro-confirm {
    width: 80%;
    text-align: right;
    margin-top: 10px;
    button {
        padding: 10px;
    }
}

.confirm-table {
    width: 70%;
}

.confirm-post {
    width: 70%;
    text-align: right;
    margin-top: 15px;
    button {
        padding: 10px;
    }
}