.history-tr-bold {
    border-top: solid 3px;
}

.history-table {
    width: 70%;
    margin: 0 auto;
    input, button {
        box-sizing: border-box;
        width: 100%;
        display: inline-block;
    }
}

