.products-table {
    width: 80%;
    input, button {
        box-sizing: border-box;
        width: 100%;
        display: inline-block;
    }
}

.products-th-name {
    width: 40%;
}

.add-product {
    margin-bottom: 20px;
}

